<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Application</title>
</head>

<body>
    <section id="section">
        <aside>
            <img id="logo" src="/assets/logo.svg" alt="logo">
            <button id="addTripBtn" onclick="return Client.addTripBtn(event)">Add New Trip</button>
        </aside>
        <article>
            <h1>Travels Book</h1>
            <div id="result-container" class="result-container display-0">
            </div>
        </article>
    </section>
    <div id="greetings-card" class="greetings-card container text-center display-0">
        <div>
            <h1>Welcome to&nbsp;<img id="logo-greet" src="assets/logo.svg" alt="logo" loading="lazy"></h1>
            <h2>Your Next Adventure Begins Now!</h2>
            <p>Smarter Trips, Better Journeys.</p>
        </div>
        <div class="flex-direction-row">
            <button id="nextBtn" class="btn btn-primary button-next" onclick="return Client.next(event)">Next</button>
        </div>
    </div>
    <div id="add-new-trip-card" class="add-new-trip-card container display-0">
        <h1>Add New Trip</h1>
        <form>
            <input type="text" placeholder="Enter Your Destination">
            <input type="date" id="departureDate" placeholder="When are you leaving?" onfocus="this.type='date'"
                onblur="if(!this.value) this.type='text'">
            <input type="date" id="returnDate" placeholder="When are you coming back?" onfocus="this.type='date'"
                onblur="if(!this.value) this.type='text'">
            <div class="button-group flex-direction-row">
                <button class="button-next" onclick="return Client.submitTripHandler(event)">Add Trip</button>
                <button class="button-next" onclick="return Client.cancel(event)">Cancel</button>
            </div>
        </form>
    </div>
    <div class="add-note container display-0">
        <h1>Add a Note</h1>
        <form>
            <label for="note">Note:</label>
            <textarea name="note" id="add-note" placeholder="Have any notes?"></textarea>
            <div class="button-group flex-direction-row">
                <button type="button" class="button-next" onclick="return Client.submitNoteHandler(event)">Add
                    Note</button>
                <button type="button" class="button-next" onclick="return Client.cancelAddNote(event)">Cancel</button>
            </div>
        </form>
    </div>
    <div class="empty container display-0" id="empty-container">
        <div id="img-empty">
            <img src="assets/empty-data.svg" alt="empty">
        </div>
        <div class="flex-direction-row">
            <button id="addTripBtn" onclick="return Client.addTripBtn(event)">Add New Trip</button>
        </div>
    </div>
    <div class="no-response container display-0" id="no-res-container">
        
            <img id="server-img" src="assets/server-error.svg" alt="server-error">
        
        <div class="flex-direction-row">
            <button id="back-btn" onclick="return Client.returnBack(event)">Back</button>
        </div>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(registration => {
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    })
                    .catch(err => {
                        console.log('ServiceWorker registration failed: ', err);
                    });
            });
        }
    </script>
</body>

</html>