@use 'style' as style;


.container {
    padding: 40px;
    background-color: style.$cards-bg;
    border-radius: style.$number-20;
    box-shadow: 0px 5px 15px rgba(style.$black, 0.1);
    margin: style.$number-20;
    text-align: left;
    color: style.$text-color;
    box-sizing: border-box;
    &.empty{
        display: flex;
  
        #img-empty{
            align-self: center;
            justify-self: center;
        }
        width: 40%;
        @media (max-width: 1024px) {
            width: 60%;
        }
    
        @media (max-width: 768px) {
            width: 80%;
        }
    
        @media (max-width: 480px) {
            width: 100%;
        }
    }
    div{
        #addTripBtn {
            color: style.$text-button;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: style.$number-40;

            display: flex;
            padding: style.$number-16 style.$number-36;
            justify-content: center;
            align-items: center;

            border-radius: style.$number-32;
            border: 1px solid style.$border-button;
            background: style.$button-color;

            transition: transform 0.3s ease-in-out;
            line-height: 10px;

            &:hover {
                transform: scale(1.05);
                background-color: style.$button-hover;
            }
            @media (max-width: 1024px) {
                font-size: 0.95rem;
                padding: style.$number-14 style.$number-30;
            }
    
            @media (max-width: 768px) {
                font-size: 0.9rem;
                padding: style.$number-12 style.$number-26;
            }
    
            @media (max-width: 480px) {
                font-size: 0.85rem;
                padding: style.$number-8 style.$number-20;
            }
        }
    }

    h1 {
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 76px;
        display: flex;
        align-items: center;
        padding-bottom: 5px;

        #logo-greet {
            margin-top: auto;
            margin-bottom: 4px;
            height: 55px;
        }
    }

    h2 {
        font-size: 32px;
        font-weight: 400;
        line-height: 76px;
        align-self: stretch;
    }

    @media (max-width: 1024px) {
        padding: 30px;

        h1 {
            font-size: 40px;
            line-height: 60px;

            #logo-greet {
                height: 45px;
            }
        }

        h2 {
            font-size: 28px;
            line-height: 64px;
        }
    }

    @media (max-width: 768px) {
        padding: 20px;
        margin: style.$number-10;

        h1 {
            font-size: 32px;
            line-height: 50px;

            #logo-greet {
                height: 38px;
            }
        }

        h2 {
            font-size: 24px;
            line-height: 50px;
        }
    }

    @media (max-width: 480px) {
        margin: 16px;
        h1 {
            font-size: 24px;
            line-height: 40px;

            #logo-greet {
                height: 30px;
            }
        }

        h2 {
            font-size: 20px;
            line-height: 40px;
        }
    }
}
