@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$animation-duration: 5s;
$bg-color: #F7F7F7;
$black: #000;
$white: #FFF;
$text-color: #333;
$text-sec-color: #666;
$button-color: #219EBC;
$button-hover: #1d99b8;
$text-button: #FFF;
$border-button: #8ECAE6;
$cards-bg: rgba(255, 255, 255, 0.9);
$spacing: 16px;
$number-5: 5px;
$number-10: 10px;
$number-12: 12px;
$number-16: 16px;
$number-20: 20px;
$number-24: 24px;
$number-25: 25px;
$number-32: 32px;
$number-36: 36px;
$number-40: 40px;
$number-48: 48px;
$number-50: 50px;

body {
    background: {
        image: url('../assets/background-image.png');
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
        position: center;
    }

    font-family: 'Poppins',
    sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0px 36px;
    color: $text-color;
}

.button-next {
    color: $text-button;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: $number-40;

    display: flex;
    padding: $number-16 $number-36;
    justify-content: center;
    align-items: center;

    border-radius: $number-32;
    border: 1px solid $border-button;
    background: $button-color;

    transition: transform 0.3s ease-in-out;
    line-height: 10px;

    &:hover {
        transform: scale(1.05);
        background-color: $button-hover;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 90%;
    background-color: $cards-bg;
    border-radius: $number-20;
    box-shadow: 0px 5px 15px rgba($black, 0.1);
    margin: $number-20;
    text-align: left;
    color: $text-color;
    width: 50vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 1.5vh 3vw;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 1rem;
}


h1 {
    font-size: $number-32;
    font-weight: bold;
    margin-bottom: $number-10;
}

p {
    font-size: $number-20;
    color: $text-sec-color;
}

label {
    display: block;
    margin-bottom: $number-5;
}

input {
    width: 100%;
    padding: $number-12;
    box-sizing: border-box;
    margin: $number-10 0;
    padding-left: $number-25;
    border: 1px solid #E0E0E0;
    border-radius: $number-48;
    font-size: $number-16;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.display-0 {
    display: none;
}

// Card of Trip Design
#result-container {
    display: flex;
    flex-wrap: nowrap; // السماح بنقل العناصر للسطر التالي عند الحاجة

    // margin-left: 48px;
    overflow-x: auto; // تمكين التمرير الأفقي
    gap: $number-20; // تباعد بين الكروت
    // padding: $number-20;
    scrollbar-width: none;
    scroll-padding-left: $number-20;
    /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}


.card {
    flex: 1 1 calc(33.33% - #{$number-20}); // توزيع الكروت بالتساوي مع الفراغات
    min-width: 332px;
    max-width: 332px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    color: $white;
    padding: $number-20;
    width: 90%;
    border-radius: $number-32;

    margin-right: $number-20; // تباعد بين الكروت
    vertical-align: top; // محاذاة الكروت من الأعلى

    &:last-child {
        margin-right: 0; // إزالة الهامش من آخر كارد
    }

    h3,
    p {
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 400;
        color: $white;
        margin: 0.5rem 0;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: $number-10;
        position: absolute;
        bottom: $number-20;
        right: $number-20;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;

        svg {
            width: $number-32;
            height: $number-32;
        }
    }

    .notes-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 16px;
    }

    .card {
        height: 250px;
        max-width: 250px; // تقليل عرض الكارد على الشاشات الصغيرة
        min-width: 250px;
    }

    .card h3,
    .card p {
        font-size: 1rem; // تقليل حجم الخط على الشاشات الصغيرة
    }
}