@use 'style' as style;

section {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;  // Added this to ensure flex items are aligned to the start of the section

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    aside {
        width: 20%;
        height: 100%;
        background-color: #023047;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 50px 20px;
        box-sizing: border-box;
        gap: 50px;

        #addTripBtn {
            color: style.$text-button;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: style.$number-40;

            display: flex;
            padding: style.$number-16 style.$number-36;
            justify-content: center;
            align-items: center;

            border-radius: style.$number-32;
            border: 1px solid style.$border-button;
            background: style.$button-color;

            transition: transform 0.3s ease-in-out;
            line-height: 10px;

            &:hover {
                transform: scale(1.05);
                background-color: style.$button-hover;
            }
        }
    }

    article {
        width: 80%;
        height: 100%;
        padding-left: 20px;
        background-color: style.$cards-bg;
        box-sizing: border-box; // Added to prevent padding from affecting width calculations

        div.flex-direction-row {
            justify-content: space-between;
        }

        #scroll-icon {
            padding-right: 20px;
        }

        #result-container {
            height: 80vh;
            padding-right: 20px;
            gap: 5px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            overflow-y: auto;
        }
    }

    // Responsive Design for Tablet and Mobile
    @media (max-width: 1024px) {
        flex-direction: column;
        justify-content: flex-start;  // Ensure content starts from the top

        aside {
            width: 100%;
            padding: 30px 20px;
            gap: 30px;
        }

        article {
            width: 100%;
            padding-left: 24px;
            padding-right: 24px;  // Added padding-right to balance spacing
        }
    }

    @media (max-width: 768px) {
        aside {
            width: 100%;
            padding: 20px 15px;
            gap: 20px;
        }

        article {
            width: 100%;
            padding: 0px 16px;  // Reduced padding to maximize space
        }
    }

    @media (max-width: 480px) {
        aside {
            width: 100%;
            padding: 15px 10px;
            gap: 15px;
        }

        article {
            width: 100%;
            padding: 0px 16px;
        }
    }
}
